.App {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 1200px;
}

.partner {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.partner img {
  width: 14%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

.parent {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.imageMain {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  width: 325px;
  height: 525px;
  text-align: left;
  background-image: url("../../../assets/img/pictureFirst.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 370px 375px;
  border-radius: 30px;
}

.wrapper {
  overflow: hidden;
}

.wrapper div {
  min-height: 200px;
  padding: 10px;
}

.wrapperTwo {
  overflow: hidden;
}

.wrapperTwo div {
  min-height: 200px;
  padding: 10px;
}

#textOne {
  background-color: white;
  float: left;
  margin-right: 20px;
  width: 540px;
  margin-left: 50px;
  text-align: center;
  line-height: 20px;
}

#pictureOne {
  background-color: white;
  overflow: hidden;
  margin-right: 50px;
  background-image: url("../../../assets/img/pictureFirst.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 230px 200px;
}

#textTwo {
  background-color: white;
  overflow: hidden;
  margin-right: 50px;
  text-align: center;
}

#pictureTwo {
  background-image: url("../../../assets/img/pictureSecond.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 230px 200px;
  float: left;
  margin-left: 50px;
  width: 540px;
  margin-right: 20px;
}

#textThree {
  background-color: white;
  float: left;
  margin-right: 20px;
  width: 540px;
  margin-left: 50px;
  text-align: center;
}

#pictureThree {
  background-color: white;
  overflow: hidden;
  margin-right: 50px;
  background-image: url("../../../assets/img/pictureThird.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 230px 200px;
}

#textImpact {
  background-color: #8ed39980;
  overflow: hidden;
  margin-right: 50px;
  border-radius: 15px;
  text-align: center;
}

#pictureImpact {
  background-image: url("https://media.istockphoto.com/id/1365464165/vector/sustainable-ethical-and-responsible-green-investment-coin-growing-concept-thin-line-icon.jpg?s=612x612&w=0&k=20&c=AMA2l0svZrSepR9sXL8Q8VudkByJjksGXGKymT_m_Iw=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 125px 125px;
  float: left;
  margin-left: 50px;
  width: 540px;
  margin-right: 20px;
}

#textContact {
  background-color: #8ed39980;
  margin: 0 auto;
  width: 80%;
  border-radius: 15px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .imageMain {
    display: none !important;
  }

  #textOne {
    float: none;
    width: 500px;
    text-align: center;
    margin: 0 auto;
  }

  #pictureOne {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    margin: 0 auto;
  }

  .wrapperTwo {
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
  }

  .wrapperTwo div {
    min-height: 200px;
    padding: 10px;
  }

  #textTwo {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    margin: 0 auto;
  }

  #pictureTwo {
    float: none;
    width: 500px;
    text-align: center;
    margin: 0 auto;
  }

  #textThree {
    float: none;
    width: 500px;
    text-align: center;
    margin: 0 auto;
  }

  #pictureThree {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    margin: 0 auto;
  }

  #textImpact {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    margin: 0 auto;
  }

  #pictureImpact {
    float: none;
    width: 500px;
    text-align: center;
    margin: 0 auto;
  }

  #textContact {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    margin: 0 auto;
  }

  #pictureContact {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .card:hover img {
    display: none;
  }

  .wrapper {
    margin: 0 auto;
  }

  #textOne {
    float: none;
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  #pictureOne {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  #textTwo {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  #pictureTwo {
    float: none;
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  #textThree {
    float: none;
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  #pictureThree {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  #textImpact {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  #pictureImpact {
    float: none;
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  #textContact {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  #pictureContact {
    display: none;
  }
}

.card {
  position: relative;
  width: 80%;
  height: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.card .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8ed39980;
  clip-path: circle(120px at center);
  transition: 0.5s;
}

.card:hover .circle::before {
  background: #8ed39980;
  clip-path: circle(80% at center);
}

.card img {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  pointer-events: none;
  transition: 0.5s;
  height: 120px;
  border-radius: 10px;
}

.card:hover img {
  left: 78%;
  height: 180px;
}

.card .content {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.card .content h2 {
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 5px;
}

.card .content h3 {
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 10px;
  font-weight: 700;
}

.card .content a {
  position: relative;

  padding: 10px 20px;
  border-radius: 10px;
  background: transparent;
  color: #111;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s;
}

button {
  border-radius: 10px;
  padding: 10px 22px;
  color: #0b3c4d;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  background-color: #8ed39980;
}

button:hover {
  transition: all 0.2s ease-in-out;
  border: 2px solid #0b3c4d;
  opacity: 1;
  background-color: white;
  color: #0b3c4d;
}

button:disabled {
  cursor: default;
  opacity: 0.24;
}
